/* Fonts */
@font-face {
  font-family: 'MuseoSans Light';
  font-display: fallback;
  src: url('../fonts/MuseoSansRounded-100.woff') format('woff'),
  url('../fonts/MuseoSansRounded-100.woff') format('woff');
}

@font-face {
  font-family: 'MuseoSans Regular';
  font-display: fallback;
  src: url('../fonts/MuseoSansRounded-300.woff') format('woff'),
  url('../fonts/MuseoSansRounded-300.woff') format('woff');
}

@font-face {
  font-family: 'MuseoSans Medium';
  font-display: fallback;
  src: url('../fonts/MuseoSansRounded-500.woff') format('woff'),
  url('../fonts/MuseoSansRounded-500.woff') format('woff');
}

@font-face {
  font-family: 'MuseoSans Bold';
  font-display: fallback;
  src: url('../fonts/MuseoSansRounded-700.woff') format('woff'),
  url('../fonts/MuseoSansRounded-700.woff') format('woff');
}

@font-face {
  font-family: 'MuseoSans Extrabold';
  font-display: fallback;
  src: url('../fonts/MuseoSansRounded-900.woff') format('woff'),
  url('../fonts/MuseoSansRounded-900.woff') format('woff');
}

@font-face {
  font-family: 'MuseoSans Black';
  font-display: fallback;
  src: url('../fonts/MuseoSansRounded-1000.woff') format('woff'),
  url('../fonts/MuseoSansRounded-1000.woff') format('woff');
}

$light-font: 'MuseoSans Light', sans-serif;
$regular-font: 'MuseoSans Regular', sans-serif;
$medium-font: 'MuseoSans Medium', sans-serif;
$bold-font: 'MuseoSans Bold', sans-serif;
$extrabold-font: 'MuseoSans Extrabold', sans-serif;
$black-font: 'MuseoSans Extrabold', sans-serif;

/* Colors */
$gray-color: #595959;
$white-color: #fff;
$black-color: #000;
$pink-color: #df59aa;
$main-color-opacity: rgba(21, 113, 231, 0.5);
$category-color: #aaa;
$footer-color: #f4f4f4;
$date-color: #bcbcbc;
$lightgray-color: #b3b3b3;

/* Paddings */
$block--padding: 60px;
$responsive--padding: 40px;
$block--grey: #FAFAFA;