@media (max-width: 1200px) {
  body {

  }
}

@media (max-width: 991px) {
  body {
    padding-top: 106px;

    .block__main__title {
      font-size: 45px;
    }

    .block--padding {
      padding: 40px 0px;
    }

    .navbar .navbar-nav .sub-menu {
      position: inherit;
      height: 0;
      padding: 0;
      top: 0;
      box-shadow: none;

      &:before {
        display: none;
      }

      li {
        opacity: 0;
        height: 0;
        @include transition(all, .3s);
      }
    }

    .navbar .navbar-nav .active .sub-menu {
      height: 145px;
      padding: 20px;

      li {
        //display: block;
        opacity: 1;
        height: 25px;
      }
    }

    .navbar {
      height: 100%;
      @at-root #{&}-nav {
        width: 100%;
        height: 100%;
        justify-content: center;
        > li {
          margin-bottom: 0;
          display: none;
        }
      }
      .nav-link {
        font-size: 18px;
      }
    }

    header {
      position: absolute;
      top: 0;
      @include transition(all, .3s);
    }

    .navbar-toggler {
      margin-top: 7px;
      @at-root #{&}-icon {
        width: 30px;
        height: 27px;
        position: relative;
        @include rotate(0deg);
        @include transition(all, .5s);
        cursor: pointer;

        span {
          display: block;
          position: absolute;
          height: 2px;
          width: 50%;
          background: #000;
          opacity: 1;
          @include rotate(0deg);
          @include transition(all, .25s);
        }

        span:nth-child(even) {
          left: 50%;
          border-radius: 0 9px 9px 0;
        }

        span:nth-child(odd) {
          left: 0px;
          border-radius: 9px 0 0 9px;
        }

        span:nth-child(1), span:nth-child(2) {
          top: 0px;
        }

        span:nth-child(3), span:nth-child(4) {
          top: 8px;
        }

        span:nth-child(5), span:nth-child(6) {
          top: 17px;
        }
      }
    }

    .button_links {
      display: none;
    }
  }
  &.menu-open {
    overflow: hidden;

    body {
      height: 100%;
      overflow: hidden;
    }

    .navbar-nav > li {
      display: block;
      margin-right: initial;

      a {
        font-size: 25px;
      }
    }

    header {
      height: 100vh;
      background-color: #fff;

      .container--height {
        @include transition(padding, .3s);

        .navbar-collapse {
          height: calc(100vh - 55px);

          .navbar-nav > li {
            opacity: 1;
            text-align: center;
            height: auto;
            margin-bottom: 20px;
            @include transition(all, .3s);
          }
        }
      }
    }

    header {
      height: 100vh;
      @include transition(height, .3s);

      &.scrolling {
        background-color: #000;
      }
    }

    .navbar-collapse {
      height: calc(100vh - 55px);
    }

    .navbar-toggler-icon {
      span:nth-child(1), span:nth-child(6) {
        @include rotate(45deg);
      }

      span:nth-child(2), span:nth-child(5) {
        @include rotate(-45deg);
      }

      span:nth-child(1) {
        left: 0;
        top: 4px;
      }

      span:nth-child(2) {
        left: calc(50% - 5px);
        top: 4px;
      }

      span:nth-child(3) {
        left: -50%;
        opacity: 0;
      }

      span:nth-child(4) {
        left: 100%;
        opacity: 0;
      }

      span:nth-child(5) {
        left: 0;
        top: 14px;
      }

      span:nth-child(6) {
        left: calc(50% - 5px);
        top: 14px;
      }
    }

    .button_links {
      display: flex;
      position: absolute;
      bottom: 30px;

      a {
        padding: 20px 10px;
      }
    }
  }
  .post_excerpt{
    min-height: initial;
  }
  .reactions_section{
    position: relative;
  }
  .latest_post--content {
    margin-bottom: 50px;
  }
  .latest_post--thumbnail {
    margin-bottom: 10px;
  }
  .search-wrapper {
    form {
      width: 80%;
    }
  }
  .single_thumbnail--text {
    width: 90%;
  }
  .single {
    .related_posts {
      .read_more {
        padding-top: 0;
        font-size: initial;
      }
    }

    .quote_text {
      max-width: 100%;
      padding: 30px;
    }
  }
  .footer {
    .footer_wrapper {
      display: block;
      text-align: center;

      &--left {
        width: 100%;
      }
    }

    .footer_wrapper--right {
      display: block;

      a {
        width: 100%;
      }
    }
  }
}

//@media(max-width: 767px) {
//
//}
//@media(max-width: 576px) {
//
//}