@import '_mixins.scss';
@import '_variables.scss';
@import 'bootstrap.min.css';

html, body {
  overflow-x: hidden;
}

::-moz-selection {
  background-color: $pink-color;
  color: #fff;
}

::selection {
  background-color: $pink-color;
  color: #fff;
}

body {
  height: 100%;
  font-family: $regular-font;
  color: $gray-color;

  #loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 99999;
  }

  .clearfix {
    display: inline-block;
  }

  .clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }

  figure {
    margin-bottom: 0;
  }

  img {
    max-width: 100%;
  }

  a {
    display: inline-block;
    color: $gray-color;
  }

  a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    @include transition(all, .3s);
  }

  :focus {
    outline: none;
    box-shadow: none;
  }

  input:focus {
    box-shadow: none;
  }

  p {
    margin-bottom: 0;
  }

  figcaption {
    text-align: center;
    color: #dedede;
    font-size: 15px;
  }

  .block {
    display: inline-block;
    width: 100%;
    vertical-align: top;

    p {
      font-size: 16px;
      line-height: 2.06;
    }

    @at-root #{&}--padding {
      padding: $block--padding 0;
    }
    @at-root #{&}--notop--padding {
      padding-top: 0;
    }
    @at-root #{&}--nobottom--padding {
      padding-bottom: 0;
    }
    @at-root #{&}--grey {
      background-color: $block--grey;
    }
    @at-root #{&}__main__title {
      margin-bottom: 20px;
      font-size: 55px;
      line-height: normal;
      font-weight: bold;
      font-family: $regular-font;
    }
    @at-root #{&}__title {
      margin-bottom: 20px;
      font-size: 31px;
      line-height: normal;
      font-weight: bold;
      font-family: $regular-font;
    }
    @at-root #{&}__second__title {
      font-size: 21px;
      line-height: normal;
      font-weight: bold;
      font-family: $regular-font;
    }
  }

  .module {
    opacity: 0;
  }

  .come-in {
    @include translateY(50px);
    animation: come-in .8s ease-in-out forwards;
    -webkit-animation: come-in .8s ease-in-out forwards;
  }

  .come-in:nth-child(odd) {
    animation-duration: 0.6s;
  }

  @keyframes come-in {
    from {
      opacity: 0;
      transform: translateY(50px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  @-webkit-keyframes come-in {
    from {
      opacity: 0;
      -webkit-transform: translateY(50px);
    }
    to {
      opacity: 1;
      -webkit-transform: translateY(0);
    }
  }

  .already-visible, .come-in-top {
    opacity: 0;
    @include translateY(-50px);
    animation: already-visible .8s ease-in-out forwards;
    -webkit-animation: already-visible .8s ease-in-out forwards;
  }

  .already-visible:nth-child(odd), .cone-in-top:nth-child(odd) {
    animation-duration: 0.6s;
  }

  @keyframes already-visible {
    from {
      opacity: 0;
      transform: translateY(-50px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  @-webkit-keyframes already-visible {
    from {
      opacity: 0;
      -webkit-transform: translateY(-50px);
    }
    to {
      opacity: 1;
      -webkit-transform: translateY(0);
    }
  }

  .button_links {
    a {
      &.button_links--pink {
        margin-right: 20px;
        background-color: $pink-color;
        text-transform: uppercase;
      }

      &.button_links--gray {
        background-color: #b3b3b3;
      }

      svg {
        margin-right: 10px;
        vertical-align: top;
      }

      color: $white-color;
      padding: 20px 30px;
      border-radius: 3px;
    }
  }
}

header {
  position: relative;
  width: 100%;
  background-color: transparent;
  z-index: 99;
  font-family: $bold-font;
  background-color: $white-color;
  @include transition(all, .3s);

  .navbar__logo img {
    object-fit: contain;
    @include transition(all, .3s);
  }

  &.fixed {
    position: fixed;
    background-color: #fff;
    box-shadow: 0 15px 30px 0 rgba(0, 0, 0, .06);
    @include transition(all, .3s);

    .navbar {
      padding: 10px 0;
      @include transition(all, .3s);
    }

    .navbar__logo img {
      height: 40px;
      width: 110px;
      @include transition(all, .3s);
    }
  }
}

.navbar {
  padding: 35px 0;
  font-weight: bold;
  @include transition(all, .3s);

  .navbar-toggler {
    padding: 0;
    z-index: 9;
  }

  .navbar__logo {
    margin-right: 80px;
  }

  .current-menu-item {
    .nav-link {
      color: $gray-color;
    }
  }

  .nav-link {
    font-size: 17px;
    line-height: 20px;
    color: $gray-color;
    white-space: pre;
    @include transition(all, .3s);

    &:hover {
      color: $gray-color;
    }
  }

  .navbar-nav {
    align-items: center;

    li {
      margin-right: 50px;
    }
  }

  &.navbar-expand-lg .navbar-nav .nav-link {
    padding: 0 15px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.main_section {
  @at-root #{&}--title {
    font-family: $light-font;
    font-size: 50px;
    color: $pink-color;
    font-weight: 100;
  }
  .search_section {
    margin: 0 auto;
    width: max-content;
    cursor: pointer;

    h4 {
      display: inline-block;
      vertical-align: middle;
      margin-bottom: 0;
      font-size: 20px;
      font-weight: 100;
    }

    svg {
      margin-right: 5px;
    }
  }
}

.post_thumbnail {
  img {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }
}

.latest_post--thumbnail {
  img {
    height: 100%;
  }

  margin-bottom: 100px;
}

.post_title {
  margin: 10px 0;
  font-family: $medium-font;

  &:hover {
    color: $pink-color;
    @include transition(all, .3s);
  }
}

div.post_category {
  a {
    font-size: 13px;
    font-family: $medium-font;
    padding: 5px 10px;
    margin-right: 5px;
    color: $category-color;
    background-color: #f0f0f0;
    border-radius: 3px;

    &:hover {
      color: $pink-color;
      background-color: #f2c2de;
      @include transition(all, .5s);
    }
  }
}

.post_excerpt {
  margin: 20px 0px;
  min-height: 200px;
  font-family: $regular-font;
  line-height: 1.8;
}

.latest_post--excerpt {
  min-height: initial;
  margin-bottom: 40px;
}
.latest_post--content {
  .reactions_section {
    position: relative;
  }
}

.latest_post--date {
  font-family: $medium-font;
  color: $date-color;
  opacity: .6;
}

.latest_post--title {
  font-size: 32px;
}

.reactions_section {
  position: absolute;
  bottom: 0;
  font-family: $bold-font;

  svg {
    margin-right: 10px;
  }

  span {
    display: inline-block;
    vertical-align: middle;
    margin-right: 30px;
    color: #bebebe;
  }
}

.post_item {
  margin-bottom: 50px;

  img {
    margin-bottom: 10px;
  }
}

.read_more {
  color: $pink-color;
}

.load_more--button {
  padding: 10px 40px;
  color: $white-color;
  background-color: $pink-color;
  border: none;

  &:hover {
    color: $pink-color;
    background-color: #f2c2de;
    @include transition(all, .3s);
  }
}

.footer {
  background-color: $footer-color;
  border-top: 1px solid #e1e1e1;

  .footer_wrapper {
    display: flex;
    justify-content: space-between;

    &--left {
      img {
        margin-bottom: 20px;
      }
    }

    &--right {
      display: flex;
      flex-flow: column;
      align-items: flex-end;

      a {
        margin-bottom: 10px;
      }

      img {
        margin-left: 5px;
      }
    }
  }

  a, p {
    color: #959595;
    font-family: $medium-font;

    span {
      color: $pink-color;
    }
  }

  p {
    margin-bottom: 20px;
  }
}

.search-wrapper {
  position: fixed;
  background-color: $pink-color;
  z-index: 999;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  @include transition(all, .5);

  form {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: none;
    width: 30%;
    height: 60px;
    font-size: 30px;
    color: $lightgray-color;
    text-align: center;

    .screen-reader-text {
      display: none;
    }

    input {
      width: 100%;
      border: none;
      color: $pink-color;
      background-color: #f2c2de;
    }

    #s {
      padding: 10px;
      margin-bottom: 10px;
      color: $white-color;
    }
  }

  .close_search {
    position: absolute;
    right: 30px;
    top: 30px;
    cursor: pointer;
  }
}

.search_key {
  color: $pink-color;
}

.single {
  line-height: 1.5;

  p, h2, .single_container {
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  h2 {
    padding-top: 30px;
    font-family: $medium-font;
  }

  a {
    color: $pink-color;
  }

  figure {
    width: 100%;

    img {
      width: inherit;
      height: 100%;
    }
  }

  @at-root #{&}_thumbnail {
    position: relative;
    height: 70vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    @at-root #{&}--content {
      position: absolute;
      top: 0;
      left: 0;
      background: rgba(0, 0, 0, .4);
      z-index: 2;
      color: $white-color;
    }
    @at-root #{&}--text {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      font-family: $bold-font;
    }
  }
  .single_author {
    font-family: $regular-font;
    margin-top: 20px;

    svg {
      margin-right: 10px;
      vertical-align: middle;
    }

    span {
      font-size: 17px;
    }
  }

  .single_content {
    position: relative;
    padding: 30px 0px;
  }

  .quote_text {
    display: inline-block;
    color: $pink-color;
    padding: 50px;
    font-family: $light-font;
    max-width: 50%;
    text-align: center;
  }

  .is-type-video {
    margin: 50px 0px;
  }

  .post_category {
    padding: 30px 0px;
  }

  .related_posts {
    h2 {
      color: $pink-color;
    }

    img {
      height: auto;
    }

    .post_title {
      color: $gray-color;
    }

    .read_more {
      font-size: 20px;
      padding-top: 10px;
    }
  }

  .post_content {
    padding: 50px 0px;

    img {
      width: 100%;
    }
  }
}

@import 'responsive.scss';